/* GENERAL */
:root {
	/* COLOR */
	--color-black: #000000;
	--color-white: #ffffff;
	--color-white-smoke: #f6f5ef;
	--color-medium-white: #cccccc;
	--color-gray: #777777;
	--color-darkslategray: #2c2a29;
	--color-dark-gray: #333333;
	--color-dimgray: #999999;
	--color-medium-gray: #656565;
	--color-light-gray: #e5e5e5;
	--color-green: #669900;
	--color-seagreen: #00704a;
	--color-deep-green: #1e3932;
	--color-teal: #075c67;
	--color-steel-blue: #3e7e89;
	--color-silver: #c0c0c0;
	--color-sienna: #815932;

	/* TRANSITION */
	--animation-duration: 0.4s;
}

/* UNIVERSAL TAG */
body {
	color: var(--color-dark-gray);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	font-family: 'Nanum Gothic', sans-serif;
	overflow-x: hidden;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

strong {
	font-weight: 700;
}

.inner {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.btn {
	display: block;
	width: 125px;
	padding: 7px 0;
	border: 2px solid var(--color-dark-gray);
	border-radius: 5px;
	color: var(--color-dark-gray);
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.4s;
}

.btn:hover {
	text-decoration: underline;
}

.back-to-position {
	opacity: 0;
	transition: 2s;
}

.back-to-position.to-right {
	transform: translateX(-500px);
}

.back-to-position.to-left {
	transform: translateX(500px);
}

.show .back-to-position {
	opacity: 1;
	transform: translateX(0);
}

.show .back-to-position.delay-0 {
	transition-delay: 0s;
}

.show .back-to-position.delay-1 {
	transition-delay: 0.3s;
}

.show .back-to-position.delay-2 {
	transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
	transition-delay: 0.9s;
}

/* HEADER */
header {
	background-color: var(--color-white-smoke);
	border-bottom: 1px solid #c8c8c8;
	border-top: 2px solid var(--color-black);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
}

header > .inner {
	height: 120px;
}

header .logo {
	height: 75px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

header .sub-menu {
	display: flex;
	position: absolute;
	top: 5px;
	right: 55px;
}

header .sub-menu ul.menu {
	font-family: Arial, sans-serif;
	display: flex;
}

header .sub-menu ul.menu li {
	position: relative;
}

header .sub-menu ul.menu li::before {
	content: '';
	width: 1px;
	height: 12px;
	background-color: var(--color-light-gray);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
	display: none;
}

header .sub-menu ul.menu li a {
	font-size: 13px;
	padding: 11px 16px;
	display: block;
	color: var(--color-medium-gray);
}

header .sub-menu ul.menu li a:hover {
	color: var(--color-black);
}

header .sub-menu .search {
	position: relative;
	height: 34px;
	cursor: pointer;
}

header .sub-menu .search input {
	width: 36px;
	height: 34px;
	padding: 4px 10px;
	border: 1px solid var(--color-medium-white);
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	background-color: var(--color-white);
	color: var(--color-gray);
	font-size: 12px;
	transition: width var(--animation-duration);
}

header .sub-menu .search input:focus {
	width: 190px;
	border-color: var(--color-green);
}

header .sub-menu .search .material-icons {
	position: absolute;
	height: 24px;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto;
	transition: var(--animation-duration);
}

header .sub-menu .search.focused .material-icons {
	opacity: 0;
}

header .main-menu {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 40px;
	z-index: 1;
}

header .main-menu .item:hover {
	cursor: pointer;
}

header .main-menu .item .item__name {
	padding: 10px 20px 34px 20px;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

header .main-menu .item:hover .item__name {
	background-color: var(--color-darkslategray);
	color: var(--color-green);
	text-decoration: underline;
}

header .main-menu .item .item__contents {
	width: 100%;
	position: fixed;
	left: 0;
	display: none;
}

header .main-menu .item:hover .item__contents {
	display: block;
}

header .main-menu .item .item__contents .contents__menu {
	background-color: var(--color-darkslategray);
}

header .main-menu .item .item__contents .contents__menu > ul {
	display: flex;
	padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
	width: 220px;
	cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
	padding: 3px 0 12px 0;
	font-size: 14px;
	color: var(--color-white);
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
	padding: 5px 0;
	font-size: 12px;
	color: var(--color-dimgray);
}

header .main-menu .item .item__contents .contents__menu > ul > li h4:hover,
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
	text-decoration: underline;
}

header .main-menu .item .item__contents .contents__texture {
	padding: 26px 0;
	font-size: 12px;
	background-image: url('../images/main_menu_pattern.jpg');
}

header .main-menu .item .item__contents .contents__texture .inner .sub-title {
	display: flex;
}

header .main-menu .item .item__contents .contents__texture .inner h4 {
	display: inline;
	color: var(--color-dimgray);
	font-weight: 700;
	cursor: pointer;
	margin-right: 3px;
}

header .main-menu .item .item__contents .contents__texture .inner img {
	height: 16px;
}

header .main-menu .item .item__contents .contents__texture .inner h4:hover {
	text-decoration: underline;
}

header .main-menu .item .item__contents .contents__texture .inner p {
	color: var(--color-green);
	margin: 4px 0 14px;
}

header .badges {
	position: absolute;
	top: 154px;
	left: 54.5%;
	margin-left: 485px;
}

header .badges .badge {
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 12px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

/* FOOTER */
footer {
	background-color: var(--color-darkslategray);
	padding-top: 32px;
	padding-bottom: 35px;
}

footer .footer-menus {
	color: var(--color-white-smoke);
	margin-bottom: 40px;
}

footer .footer-menus .menu {
	display: flex;
	justify-content: space-between;
}

footer .footer-menus .menu .title {
}

footer .footer-menus .menu .title h3 {
	font-size: 14px;
	margin-bottom: 13px;
	cursor: pointer;
}

footer .footer-menus .menu .title h3:hover {
	text-decoration: underline;
}

footer .footer-menus .menu .title > ul {
}

footer .footer-menus .menu .title > ul li {
	font-size: 12px;
	margin-bottom: 5px;
	cursor: pointer;
}

footer .footer-menus .menu .title > ul li:hover {
	text-decoration: underline;
}

footer .footer-awards {
	background-color: #282828;
}

footer .footer-awards .inner {
	display: flex;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 30px;
}

footer .footer-awards .inner img:hover {
	cursor: pointer;
}

footer .footer-aside {
	color: var(--color-medium-white);
	font-size: 12px;
	padding-top: 30px;
}

footer .footer-aside .inner {
	width: 1000px;
}

footer .footer-aside .terms {
	display: flex;
	justify-content: space-between;
}

footer .footer-aside .terms li {
}

footer .footer-aside .terms li::before {
	content: '';
	width: 1px;
	height: 12px;
	background-color: var(--color-gray);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto -8px;
}

footer .footer-aside .terms li:first-child:before {
	display: none;
}

footer .footer-aside .terms li:first-child {
	color: #01ac4f;
	font-weight: 700;
}

footer .footer-aside .terms li:hover {
	cursor: pointer;
	text-decoration: underline;
}

footer .footer-btns {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

footer .footer-btns .btn {
	border-color: var(--color-white);
	color: var(--color-white);
	font-size: 12px;
	margin: 0 4px;
	border-radius: 3px;
}

footer .footer-info {
	padding-top: 25px;
	padding-bottom: 5px;
	display: flex;
	justify-content: center;
}

footer .footer-info span {
	font-size: 12px;
	font-weight: 500;
	color: #8b8b8b;
	margin: 0 8px;
}

footer .footer-copyright {
	color: #8b8b8b;
	display: flex;
	justify-content: center;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}
