/* VISUAL */
.visual {
	margin-top: 120px;
	background: url(../images/2021_summer2_bg.jpg) no-repeat center/cover;
	background-position: center;
}

.visual .inner {
	height: 646px;
}

.visual .title {
	position: absolute;
	top: 75px;
	left: 30px;
}

.visual .title .btn {
	position: absolute;
	top: 175px;
	left: 110px;
}

.visual .title .btn:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.visual .cup1.image {
	position: absolute;
	bottom: 45px;
	right: 330px;
}

.visual .cup1.text {
	position: absolute;
	bottom: 140px;
	left: 125px;
}

.visual .cup1.m-text {
	display: none;
}

.visual .cup2.image {
	position: absolute;
	bottom: 195px;
	right: 130px;
}

.visual .cup2.text {
	position: absolute;
	bottom: 110px;
	left: 585px;
}

.visual .cup2.m-text {
	display: none;
}

.visual .cup3.image {
	position: absolute;
	bottom: 140px;
	right: -110px;
}

.visual .cup3.text {
	position: absolute;
	bottom: 60px;
	left: 820px;
}

.visual .cup3.m-text {
	display: none;
}

.visual .m-btn {
	display: none;
}

.visual .fade-in {
	opacity: 0;
}

/* NOTICE */
.notice {
}

.notice .notice-line {
	position: relative;
}

.notice .notice-line .bg-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: var(--color-black);
}

.notice .notice-line .bg-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: var(--color-white-smoke);
}

.notice .notice-line .inner {
	height: 62px;
	display: flex;
}

.notice .notice-line .inner__left {
	display: flex;
	align-items: center;
	width: 58%;
	height: 100%;
	background-color: var(--color-black);
}

.notice .notice-line .inner__left h2 {
	color: var(--color-silver);
	font-size: 17px;
	font-weight: 700;
	margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
	height: 100%;
	flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
	height: 100%;
	display: flex;
	align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
	color: var(--color-white);
	font-size: 14px;
	font-weight: 700;
}

.notice .notice-line .inner__left .swiper-slide a:hover {
	text-decoration: underline;
}

.notice .notice-line .inner__left .notice-line__more img {
	width: 36px;
	padding: 20px;
}

.notice .notice-line .inner__right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 42%;
	height: 100%;
}

.notice .notice-line .inner__right h2 {
	color: var(--color-darkslategray);
	font-size: 17px;
	font-weight: 700;
	margin-right: 50px;
}

.notice .notice-line .inner__right .toggle-promotion img {
	width: 36px;
	padding: 0 20px;
	cursor: pointer;
}

.notice .notice-line .inner__right .toggle-promotion img.rotated {
	transform: rotate(180deg);
}

.notice .promotion {
	position: relative;
	height: 693px;
	background-color: var(--color-white-smoke);
	transition: height 0.4s;
	overflow: hidden;
}

.notice .promotion.hide {
	height: 0;
}

.notice .promotion .swiper-container {
	width: calc(819px * 3 + 20px);
	height: 553px;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
	position: relative;
	opacity: 0.5;
	transition: opacity 1s;
}

.notice .promotion .swiper-slide-active {
	opacity: 1;
}

.notice .promotion .swiper-slide .btn {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 125px;
}

.notice .promotion .swiper-slide .btn:hover {
	background-color: var(--color-dark-gray);
	color: var(--color-white);
	font-weight: 700;
}

.notice .promotion .swiper-pagination {
	bottom: 40px;
	left: 0;
	right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
	background-image: url(../images/promotion_slide_pager_off.png);
	width: 12px;
	height: 12px;
	margin-right: 8px;
	outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
	margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
	background-color: transparent;
	background-image: url(../images/promotion_slide_pager_on.png);
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
	position: absolute;
	top: 260px;
	width: 51px;
	height: 51px;
	border: 2px solid #222;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.7s;
}

.notice .promotion .swiper-prev {
	left: 50%;
	margin-left: -520px;
}

.notice .promotion .swiper-next {
	right: 50%;
	margin-right: -520px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
	background-color: var(--color-white);
}

/* REWARDS */
.rewards {
	background-color: var(--color-deep-green);
	color: var(--color-white);
}

.rewards .inner {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 237px;
	padding: 30px 30px 40px 0;
	width: 1080px;
}

.rewards .inner .rewards__logo {
	margin: 0 40px;
}

.rewards .inner .rewards__logo img {
	width: 176px;
}

.rewards .inner .reward__contents {
	width: 100%;
}

.rewards .inner .reward__contents .btn {
	color: var(--color-white);
	font-size: 14px;
	font-weight: 600;
	border: 2px solid var(--color-white);
}

.rewards .inner .reward__contents .contents__upper {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
	border-bottom: 1px solid var(--color-medium-gray);
}

.rewards .inner .reward__contents .contents__upper .upper__text h2 {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 12px;
}

.rewards .inner .reward__contents .contents__upper .upper__text p {
	font-size: 17px;
	margin-bottom: 12px;
}

.rewards .inner .reward__contents .contents__upper .upper__btns {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 16px;
	right: 0;
}

.rewards .inner .reward__contents .contents__upper .btn:first-child {
	width: 95px;
	background-color: var(--color-seagreen);
	border-color: var(--color-seagreen);
}

.rewards .inner .reward__contents .contents__upper .btn:last-child {
	width: 80px;
	margin-left: 9px;
}

.rewards .inner .reward__contents .contents__lower {
	display: flex;
	justify-content: space-between;
}

.rewards .inner .reward__contents .contents__lower .lower__text {
}

.rewards .inner .reward__contents .contents__lower .lower__text p {
	font-size: 14px;
}

.rewards .inner .reward__contents .contents__lower .lower__btn .btn {
	width: 185px;
}

/* SEASON PRODUCT */
.season-product {
	background: url(../images/2021_summer2_bean_bg.jpg) center/cover no-repeat;
}

.season-product .inner {
	display: flex;
	align-items: center;
	height: 573px;
}

.season-product .inner .product__left {
	position: absolute;
	left: 180px;
}

.season-product .inner .product__right {
	position: absolute;
	top: 190px;
	right: 15px;
}

.season-product .inner .to-top {
	display: none;
}

.season-product .inner .to-bottom {
	display: none;
}

.season-product .inner .btn {
	position: absolute;
	border-color: var(--color-teal);
	color: var(--color-steel-blue);
	font-weight: 600;
	margin-top: 28px;
}

.season-product .inner .btn:hover {
	background-color: var(--color-teal);
	color: var(--color-white);
}

/* RESERVE COFFEE */
.reserve-coffee {
	position: relative;
	background: url(../images/reserve_sundried_brazil_bg2.jpg);
	overflow: hidden;
}

.reserve-coffee::before {
	display: block;
	content: '';
	background: url(../images/reserve_sundried_brazil_bg_shape.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 12px;
	left: 0;
	width: 180px;
	height: 109px;
}

.reserve-coffee::after {
	display: block;
	content: '';
	background: url(../images/reserve_sundried_brazil_bean4_1.png);
	background-size: cover;
	width: 1814px;
	height: 400px;
	position: absolute;
	top: 0;
	right: -13.5%;
}

.reserve-coffee .inner {
	height: 400px;
}

.reserve-coffee .reserve__title {
	position: relative;
}

.reserve-coffee .reserve__title img {
	position: absolute;
	top: 90px;
}

.reserve-coffee .reserve__btn .btn {
	position: absolute;
	left: 270px;
	bottom: 90px;
	border-color: var(--color-sienna);
	color: var(--color-sienna);
	font-weight: 400;
	z-index: 1;
}

.reserve-coffee .reserve__btn .btn:hover {
	background-color: var(--color-sienna);
	color: var(--color-white);
	font-weight: 600;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
	background: url(../images/favorite_bg.jpg) no-repeat center/cover fixed;
}

.pick-your-favorite .inner {
	padding: 120px 0;
	height: 800px;
	box-sizing: border-box;
}

.pick-your-favorite .text-group {
	display: flex;
	width: 362px;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.pick-your-favorite .text-group .title {
	margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
	margin-bottom: 40px;
}

.pick-your-favorite .text-group .m-title {
	display: none;
}

.pick-your-favorite .text-group .m-description {
	display: none;
}

.pick-your-favorite .visual-group img {
	position: absolute;
	top: 100px;
	right: -90px;
}

.pick-your-favorite .more .btn {
	border-color: var(--color-white);
	color: var(--color-white);
}

.pick-your-favorite .more .btn:hover {
	background-color: var(--color-white);
	color: var(--color-dark-gray);
	font-weight: 700;
}

/* RESERVE MAGAZINE */
.reserve-magazine {
}

.reserve-magazine .inner {
	box-sizing: border-box;
	width: 1240px;
	height: 695px;
	padding: 90px 0;
	display: flex;
}

.reserve-magazine .inner::before {
	content: '';
	position: absolute;
	width: 95.3%;
	height: 0.5px;
	top: 61.8%;
	left: 9.5%;
	background-color: #cccccb;
}

.reserve-magazine .inner::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 64%;
	top: 136px;
	left: 44%;
	background-color: #cccccb;
}

.reserve-magazine .reserve__visual {
	padding-left: 43.4px;
	z-index: 1;
}

.reserve-magazine .reserve__text {
	padding-top: 180px;
	padding-left: 80px;
}

.reserve-magazine .reserve__text .to-left {
	margin-bottom: 100px;
}

.reserve-magazine .reserve__text .to-top {
	display: none;
}

.reserve-magazine .reserve__text .logo {
}

/* FIND THE STORE */
.find-store {
	background: url(../images/store_bg.jpg);
	overflow: hidden;
}

.find-store .inner {
	height: 400px;
}

.find-store .texture1 {
	position: absolute;
	top: -10px;
	left: 420px;
}

.find-store .m-texture1 {
	display: none;
}

.find-store .texture2 {
	position: absolute;
	bottom: 0;
	right: -60px;
}

.find-store .picture1 {
	position: absolute;
	top: 149px;
	left: 300px;
	z-index: 1;
}

.find-store .picture2 {
	position: absolute;
	top: 0;
	left: 70px;
}

.find-store .text-group {
	position: absolute;
	top: 100px;
	left: 650px;
}

.find-store .text-group .title {
	margin-bottom: 15px;
}

.find-store .text-group .description {
	margin-bottom: 30px;
}

.find-store .text-group .m-title {
	display: none;
}

.find-store .text-group .m-description {
	display: none;
}

.find-store .text-group .btn:hover {
	background-color: var(--color-darkslategray);
	color: var(--color-white);
	font-weight: 700;
}
